<section>
  <div class="section-padding">
    <div class="create-todo-box" (focusout)="unFocusEdit(button,element)" (click)="clickToEdit(button,element,name)"
         #button>
      <form class="create-todo-form" (submit)="createTodo(button,element,name.value);name.value=''">
        <input class="create-todo-txt" type="text" name="" placeholder="Nom de votre todolist" autofocus #name>
      </form>
      <a class="create-todo-btn" #element>Crée une TODO List</a>
    </div>
  </div>
</section>
<ng-container *ngIf="observer | async as tdl">
<section *ngIf="tdl.lists===undefined?false:tdl.lists.length>0">
    <div class="section-padding todo-lists-title">
      <h1>Vos Todo Lists</h1>
    </div>
    <div class="todo-list-chooser-container">
      <ul class="todo-list-chooser-list">
        <li *ngFor="let todolist of tdl.lists; let index = index;" [class.active]="tdl.selected==index" (click)="selectList(index)">
          <a class="todo-list-link">{{todolist.label}}</a>
        </li>
      </ul>
    </div>
</section>
</ng-container>
