<section class="todoapp" *ngIf="observer | async as tdl">
  <header class="header">
    <h1>{{tdl.label}}</h1>
    <form (submit)="create(name.value);name.value=''">
      <input name="newTodoInput"
             class="new-todo"
             placeholder="Que faire?"
             autofocus #name/>
    </form>
  </header>
  <section class="main">
    <input class="toggle-all"
           type="checkbox"
           name="toggleAll"
           id="toggleAll"
    />
    <label for="toggleAll">Mark all as complete</label>
    <ul class="todo-list">
      <li *ngFor="let item of preFilter(tdl.items); trackBy: trackById" [class.editing]="cItem.editing" [class.completed]="item.isDone">
       <app-todo-item [item]="item"
                      (delete)="delete(item)"
                      (update)="update($event,item)"
                      #cItem
       ></app-todo-item>
    </ul>
  </section>
  <footer class="footer" *ngIf="tdl.items.length>0">
    <span class="todo-count"><strong>{{todoCount(tdl.items)}}</strong> restantes</span>
    <ul class="filters">
      <li>
        <a class="filterAll" style="cursor: pointer"
           [class.selected]="filter==statusEnum.All"
           (click)="filter=statusEnum.All">Tous</a>
      </li>
      <li>
        <a class="filterActives" style="cursor: pointer"
           [class.selected]="filter==statusEnum.Active"
           (click)="filter=statusEnum.Active">Actifs</a>
      </li>
      <li>
        <a class="filterCompleted" style="cursor: pointer"
           [class.selected]="filter==statusEnum.Completed"
           (click)="filter=statusEnum.Completed">Complétés</a>
      </li>
    </ul>
    <button *ngIf="todoCount(tdl.items)<tdl.items.length" class="clear-completed" style="cursor: pointer" (click)="deleteSelected(tdl.items)">Supprimer cochées</button>
  </footer>
</section>
