.app-container{
  display: flex;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.right-section{
  margin: 0 auto;
  padding-bottom: 50px;
  overflow-y: auto;
  flex-grow: 1;
}

.left-section{
  max-width: 435px;
}


@media screen and (max-width: 1200px) {
  .app-container{
    flex-wrap: wrap;
    overflow-y: auto;
  }
  .right-section{
    width: 100%;
    overflow-y: hidden;
  }
  .left-section{
    width: 100%;
    max-width: unset;
  }
}
