.right-section{
  float: right;
  width: 70%;
  height: 100vh;
}

.left-section{
  float: left;
  width: 30%;
}


@media screen and (max-width: 960px) {
  .right-section{
    width: 100%;
  }
  .left-section{
    width: 100%;
  }
}
