.view {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
}

.no-wrap-view{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  width: 100%;
}

.toggle {
  text-align: center;
  width: 40px;
  height: 40px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  top: 0;
  bottom: 0;
  margin: auto 10px;
  background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23ededed%22%20stroke-width%3D%223%22/%3E%3C/svg%3E');
  &:checked {
    background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23bddad5%22%20stroke-width%3D%223%22/%3E%3Cpath%20fill%3D%22%235dc2af%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22/%3E%3C/svg%3E');
  }
}

label.texte {
  word-break: break-all;
  padding: 15px;
  line-height: 1.2;
  transition: color 0.4s;
  flex-grow: 1;
}

.completed {
  label {
    color: #d9d9d9;
    text-decoration: line-through;
  }
  .img-item{
    opacity: 0.5;
  }
}

.edit {
  display: none;
  font-size: 24px;
  font-family: inherit;
  font-weight: inherit;
  line-height: 1.2;
  color: inherit;
  padding: 14px;
  border: 1px solid #999;
  box-shadow: inset 0 -1px 5px 0 rgb(0 0 0 / 20%);
  flex-grow: 1;
  width: unset;
}

.editing {
  .texte{
    display: none;
  }
  .edit {
    display: flex;
  }
  .destroy{
    display: none;
  }
}

.img-item{
  width: 100%;
  max-height: 100px;
  object-fit: cover;
  transition: all 0.4s ease-in-out;
  opacity: 0.75;
}



.view:hover{
  .destroy:after {
    content: '×';
  }
  .img-item{
    opacity: 1;
    max-height: 250px;
  }
}

.destroy {
  cursor: pointer;
  width: 40px;
  height: 40px;
  font-size: 30px;
  color: #cc9a9a;
  transition: color 0.2s ease-out;
  margin: auto 10px;
  &:after{
    content: '';
  }
  &:hover {
    color: #af5b5e;
  }
}
