.nav-bar-spacer {
  height: 60px;
}
section{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid #ededed;
}
.heading-section{
  .section-padding{
    padding: 40px 10px 0 10px;
  }
  h1{
    font-size: 40px;
    font-weight: bold;
    color: #333;
    margin: 0;
  }
}
.section-padding{
  width: calc(100% - 40px);
  padding: 10px 20px;
}

.login-section{
  flex-direction: row;
  align-items: center;
  margin-top: auto;
  border-top: 1px solid #ededed;
  background-color: #fff;
  box-shadow: -1px -1px 4px 0px rgb(0 0 0 / 20%);
  height: 80px;
}

.nav-bar{
  display: flex;
  flex-direction: column;
  align-content: start;
  flex-wrap: wrap;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  height: 100vh;
}

.material-nav-button{
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover{
    color: #4d4d4d;
    background-color: #fafafa;
  }
}
.success-button:hover{
  background-color: #00b300;
  color: #fff;
}
.danger-button:hover{
  color: #f5f5f5;
  background-color: #b00020;
}
.profile-img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.profile-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.profile-display{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 0 12px;

  h1{
    font-size: 15px;
    font-weight: bold;
    color: #333;
    margin: 0;
  }

  h2{
    font-size: 12px;
    font-weight: normal;
    color: #333;
    margin: 0;
  }
}

.login-button-container{
  margin-left: auto;
}



@media screen and (max-width: 1200px) {
  .nav-bar{
    position:relative;
    display: flex;
    flex-direction: column-reverse;
    align-content: start;
    flex-wrap: wrap;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    height: 100%;
  }
  .heading-section{
    display: none;
  }
  .single-big-button{
    width: 80%;
    margin: 0 auto;
  }

  .todo-list-chooser-container{
    margin: auto auto 20px auto !important;
  }

  .todo-list-chooser-list li{
    padding: 0!important;
    border-radius: 20px;
    .todo-list-link{
      margin: auto;
    }
  }

  .todo-lists-title{
    text-align: center;
  }
}

.todo-list-chooser-container{
  width: 50%;
  margin: 0 0 20px 0;
}
.todo-list-chooser-list{
  list-style: none;
  margin: 0;
  padding: 0;
  .active{
    background-color: #fce8e6;
    .todo-list-link{
      color: #d93025;
      font-weight: bold;
    }
    &:hover{
      background-color: #fcd8d7;
      cursor: pointer;
    }
    &:active{
      background-color: #fcc0bd;
    }
  }
  li{
    align-items: center;
    display: flex;
    height: 32px;
    padding: 0 12px 0 26px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    background-color: rgba(0,0,0,0);
    transition: all 0.2s ease-in-out;

    &:hover{
      background-color: #f1f3f4;
      cursor: pointer;
    }

    &:active{
      background-color: #e8eaed;
    }

    .todo-list-link{
      color: #202124;
      font-size: 15px;
      text-decoration: none;
    }
  }
}


.create-todo-box{
  top:50%;
  left: 50%;
  border-radius: 20px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-align: center;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302),0 1px 3px 1px rgba(60,64,67,0.149);
  background-color: #ffffff;
  height: 40px;

  &:hover{
    box-shadow: 0 1px 3px 0 rgba(60,64,67,0.302),0 4px 8px 3px rgba(60,64,67,0.149);
    background-color: #fafafb;
  }
  &:active{
    box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14),0 3px 14px 2px rgba(0,0,0,0.12),0 5px 5px -3px rgba(0,0,0,0.2);
    background-color: #f1f3f4;
  }
}

.create-todo-btn{
  position: absolute;
  font-size: 16px;
  padding: 10px;
  transition: all 0.4s ease-in-out;
  transform: translateX(-50%);
}

.create-todo-txt{
  opacity: 0;
  border: none;
  background: none;
  outline: none;
  padding: 0;
  font-size: 16px;
  line-height: 40px;
  width: 0;
  transition: all 0.4s ease-in-out;
}

.create-todo-form{
  height: 0;
}


.create-todo-box.focus > .create-todo-form {
  width: unset;
  .create-todo-txt{
    opacity: 100;
    width: 100%;
    padding: 0 6px;
  }
}

.create-todo-box.focus > .create-todo-btn{
  transform: translateX(0%);
  opacity: 0;
}
