<header class="nav-bar">
  <section class="heading-section">
    <div class="section-padding">
      <h1>TodoList</h1>
      <p>Bienvenue sur votre espace de todolist</p>
    </div>
  </section>
  <section>
    <div class="section-padding">
      <div class="create-todo-box" (focusout)="unFocusEdit(button)" (click)="clickToEdit(button,name)" #button>
        <form class="create-todo-form" (submit)="createTodo(button,name.value);name.value=''">
          <input class="create-todo-txt" type="text" name="" placeholder="Nom de votre todolist" autofocus #name>
        </form>
        <a class="create-todo-btn">Crée une TODO List</a>
      </div>
    </div>
  </section>
  <section>
    <div class="section-padding todo-lists-title">
      <h1>Vos Todo Lists</h1>
    </div>
    <div class="todo-list-chooser-container">
      <ul class="todo-list-chooser-list">
        <li class="active">
          <a class="todo-list-link" href="#">TodoList 1</a>
        </li>
        <li>
          <a class="todo-list-link" href="#">TodoList 2</a>
        </li>
        <li>
          <a class="todo-list-link" href="#">TodoList 3</a>
        </li>
      </ul>
    </div>
  </section>
  <section class="login-section">
    <div class="section-padding">
      <div *ngIf="auth.user | async as user; else showLogin" class="profile-container">
        <img src="{{user.photoURL}}" alt="avatar" class="profile-img" referrerpolicy="no-referrer">
        <div class="profile-display">
          <h1>{{ user.displayName }}!</h1>
          <h2>{{ user.email }}</h2>
        </div>
        <div class="login-button-container">
          <button class="material-nav-button danger-button" (click)="logout()">Se déconnecter</button>
        </div>
      </div>
      <ng-template #showLogin>
        <div class="profile-container">
          <p>Pour sauvegarder vos todolist veuillez vous connecter</p>
          <div class="login-button-container">
            <button class="material-nav-button success-button" (click)="login()">Se connecter</button>
          </div>
        </div>
      </ng-template>
    </div>
  </section>
</header>
