<header class="nav-bar">
  <div *ngIf="auth.user | async as user; else showLogin" class="nav-bar-container">
    <img src="{{user.photoURL}}" alt="{{user.uid}}" class="profile-img">
    <h1>{{ user.displayName }}!</h1>
    <button class="material-nav-button danger-button" (click)="logout()">Se Déconnecter</button>
  </div>
  <ng-template #showLogin class="nav-bar-container">
    <button class="material-nav-button success-button" (click)="login()">Se Connecter</button>
  </ng-template>
</header>
<div class="nav-bar-spacer"></div>
