<header class="nav-bar">
  <section class="heading-section">
    <div class="section-padding">
      <h1>TodoList</h1>
      <p>Bienvenue sur votre espace de todolist</p>
    </div>
  </section>
  <section>
    <div class="section-padding">
      <button class="material-nav-button single-big-button"> Crée une TODO List</button>
    </div>
  </section>
  <section>
    <div class="section-padding">
      <h1>Vos Todo Lists</h1>
      <ul>
        <li>
          <a href="#">TodoList 1</a>
        </li>
        <li>
          <a href="#">TodoList 2</a>
        </li>
        <li>
          <a href="#">TodoList 3</a>
        </li>
      </ul>
    </div>
  </section>
  <section class="login-section">
    <div class="section-padding">
      <div *ngIf="auth.user | async as user; else showLogin" class="profile-container">
        <img src="{{user.photoURL}}" alt="avatar" class="profile-img" referrerpolicy="no-referrer">
        <div class="profile-display">
          <h1>{{ user.displayName }}!</h1>
          <h2>{{ user.email }}</h2>
        </div>
        <div class="login-button-container">
          <button class="material-nav-button danger-button" (click)="logout()">Se déconnecter</button>
        </div>
      </div>
      <ng-template #showLogin>
        <div class="profile-container">
          <p>Pour sauvegarder vos todolist veuillez vous connecter</p>
          <div class="login-button-container">
            <button class="material-nav-button success-button" (click)="login()">Se connecter</button>
          </div>
        </div>
      </ng-template>
    </div>
  </section>
</header>
